.App {
  text-align: center;
  padding: 2% 5%;
}

.logotitle {
  height: 200px;
  border-radius: 30px;
  opacity: 1;
  animation: fade 5s infinite;
}

@keyframes fade {
  0%,100% { opacity: 0.7 }
  50% { opacity: 0.9 }
}

.chart {
  backdrop-filter: blur(5px);
  border-radius: 30px;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type="text"], input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 15px;
  outline: none;
  border: 1px solid #d9d9d9;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.city {
  width: 250px;
  backdrop-filter: 5px;
  background-color: #351123;
  color: white;
  text-align: left;
  margin-top: 10px;  
  border-radius: 30px;
  opacity: 80%;
}

.CitySearch {
  display: flex;
  flex-direction: column;
}

.suggestions {
  width: 250px;
  align-self: center;
  margin-top: 5px;
  font-size: 14px;
  opacity: 70%;
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #351123;
  opacity: 100%;
  color: white;
  cursor: default;
}

.suggestions > li:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 16px;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 16px;
}

span {
  color: #d9d9d9;
  backdrop-filter: 5px;  
  font-weight: 700;
}

.suggestions > li:hover {
  background-color: #81354E;
}

.Event {
  padding: 20px 30px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 30px;
  position: relative;
  backdrop-filter: blur(5px);
  background-color: #351123;
  opacity: 80%;
  color: #d9d9d9;
}

.details-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  padding: 10px 20px;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  background-color: #81354E;
  color: white;
}

.name {
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going, .visibility {
  font-style: italic;
  text-transform: capitalize;
}

.description {
  overflow-x: hidden;
  color: white;
}

.link {
  color: white;
}

.number-of-events {
  width: 80px;
  margin: 20px 10px 50px;
  text-align: right;
  backdrop-filter: 5px;
  background-color: #351123;
  color: #d9d9d9;
}

tspan {
  color: white;
}